<h1 style='text-align: center;margin-top: 5%;'>Transacciones a Otra Persona</h1>
<div class="container">

  
    <form class="form-inline">
        
          
         
          
          <div>
             <label for="uid">User Id to send:</label>
             <br/>
          <input
            type="text"
            [(ngModel)]="uid"
            class="form-control"
            name="uid"
          />
         
          </div>

        <div>

          <label for="withdrawal">Amount</label>

          <br/>
          <input
            type="text"
            [(ngModel)]="amount"
            class="form-control"
            name="withdrawal"
          />
     
        </div>
      
         <select type="number" [(ngModel)]="option"  [ngModelOptions]="{standalone: true}">
      <option *ngFor="let level of levels" [ngValue]="level.num">{{level.name}}</option>
    </select>
        <div>
          <button
          style="margin-top: 2%;"
          class="button3"
          type="submit"
          (click) = "sendMessage()"
        >
          Send Transaction
        </button>
        </div>
      </form>

      
      <h1>Eres el usuario {{appComponent.webSocketAPI.uid}}</h1>
    
    

    
  
</div>
