.container {

  
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  margin-top: 5%;
  text-align: center;

}

.container div {
  margin-bottom: 3%;
}

input{
  border: 1px solid #000;
  width: 200px;
  padding: 20px;
      font-size: 20px;
}
.button3{
  
display:inline-block;
padding:0.3em 1.2em;
margin:0 0.3em 0.3em 0;
border-radius:2em;
box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-weight:300;
color:#FFFFFF;
background-color:#4eb5f1;
text-align:center;
transition: all 0.2s;
border: none;

}
  
  .button3:hover{
  background-color:#4095c6;
  }
  

