<h1 style='text-align: center;'>Transacciones a Otra Persona</h1>
<div class="container">

  
    <form class="form-inline">
        
          
          <div >
            <label for="currentID">My ID:</label>
          <input
            type="text"
            [(ngModel)]="currentID"
            class="form-control"
            name="currentID"
          />
          
          
          <label for="connect"></label>
          <button (click)="connect(currentID)" class="btn btn-default" type="submit">
            connect
          </button>
          <button
            (click)="disconnect()"
            class="btn btn-default"
            type="submit"
            disabled="disabled"
          >
          </button>
          </div>  
          
          
          <div>
             <label for="uid">User Id to send:</label>
          <input
            type="text"
            [(ngModel)]="uid"
            class="form-control"
            name="uid"
          />
         
          <button
          (click)="setTargetId(uid)"
          class="btn btn-default"
          type="submit"
        >
          Send
        </button>
          </div>

          <div>
            <label for="deposit">Deposit</label>
          <input
            type="text"
            [(ngModel)]="deposit"
            class="form-control"
            name="deposit"
          />
        <button
           (click)="sendDeposit(deposit)"
          class="btn btn-default"
        type="submit"
         >
          Send
          </button>
          </div>
      
        <div>
          <label for="withdrawal">Withdrawal</label>
          <input
            type="text"
            [(ngModel)]="withdrawal"
            class="form-control"
            name="withdrawal"
          />
      <button
              (click)="sendWithdrawal(withdrawal)"
              class="btn btn-default"
              type="submit"
            >
              Send
            </button>
        </div>
      

      </form>

    
    

    
  
</div>
