
<nav>

  <div class="logo" >
    <h4>Reto BCP</h4>
  </div>
 <div [hidden] ="!loggedIn">
   <a mat-button routerLink="/transacciones" style="color: white" >Transacciones</a>

 </div>
  
 <div [hidden] ="!loggedIn">
  <a (click)="signOut()" style="color: white" >Sign Out</a>

</div>

  <div class="dropdown" (clickOutside)="onClickedOutside($event)"  >

    <div [hidden] ="!loggedIn" class="buttonTemplate" id="template">
      <button id="notifButton" (click)="myFunction()" class="dropbtn"  >
      <fa-icon [icon]="faBell" class="fa-lg"></fa-icon>
    </button>
    <div id = "idk" [hidden] = "notificationCount ===0">
       <span id = "testing" class="badge" (click)="myFunction()" >{{ notificationCount }}</span>
    </div>
   

    </div>
    

    <div id="myDropdown" class="dropdown-content">
      
         <span >
        <p style="font-family: 'Calibri';letter-spacing: 3px;font-size: 30px;margin-left: 25%;position:relative;top: 30%;float: left;">Notifications</p>
         
         <fa-icon routerLink="/user-settings" (click) = "onClickedOutside($event)"  style="font-size: 28px;position:relative;top: 25%;float: right; cursor: pointer;" [icon]="faCog" class="fa-lg" ></fa-icon>
         
        </span>
      
        

      <div class="lowerContainer">
        <ngx-simplebar [options]="options">
        <a
          *ngFor="let word of words; let i = index"
          id="{{ i }}"
          (click)="hideAlert($event)"
          style="position: relative;"
        >
          <div
            id="{{  i }}"
            class="circle"
            style="text-align: left"
            [hidden] = "word.readNotif"
            (click)="hideAlert($event)"
          ></div>

          <p  [hidden]="!word.readNotif" class="notifTextRead">
            {{ word.message }}
          </p>
          <p id="{{  i }}" (click)="hideAlert($event)" [hidden]="word.readNotif" class="notifText">
            {{ word.message }}
          </p>
          <p id="{{  i }}" (click)="hideAlert($event)" id="{{ i }}" class="dateNotif" >
            {{word.createdAt | timeago:live}}
                    </p>
        </a>
      </ngx-simplebar>
      <div [hidden]="!empty" style="height: 80px; text-align: center; ">
        <h2  style="margin-top: 15px;color:white">No tienes notificaciones :(</h2>
      </div>
      <div [hidden]="loaded"  class="loader">
        
      </div>
      </div>
     
     
    </div>
  </div>

</nav>

<router-outlet ></router-outlet>

