<nav>
  <div *ngIf="loggedIn" (click)="sideBar()" class="burger">
    <svg viewBox="0 0 120 40" width="40" height="40">
      <rect width="80" height="10"></rect>
      <rect y="25" width="80" height="10"></rect>
      <rect y="50" width="80" height="10"></rect>
    </svg>
  </div>

  <div class="logo">
    Reto
    <img src="assets/svg/logo-bcp.svg" />
  </div>

  <div [hidden]="!loggedIn" class="link">
    <a routerLink="/transacciones">Transacciones</a>
  </div>

  <div [hidden]="!loggedIn" class="link">
    <a (click)="signOut()">Sign Out</a>
  </div>

  <div class="dropdown" (clickOutside)="onClickedOutside($event)">
    <div
      [hidden]="!loggedIn"
      (click)="myFunction()"
      class="buttonTemplate"
      id="template"
    >
      <div class="icon" id="icono">
        <fa-icon [icon]="faBell" class="fa bell"></fa-icon>
      </div>
      <div id="idk" [hidden]="notificationCount === 0">
        <span id="testing" class="badge">{{ notificationCount }}</span>
      </div>
    </div>

    <div id="myDropdown" class="dropdown-content">
      <span>
        Notifications
        <fa-icon
          routerLink="/user-settings"
          (click)="onClickedOutside($event)"
          class="settingsIcon"
          [icon]="faCog"
        ></fa-icon>
      </span>

      <div class="lowerContainer">
        <ngx-simplebar [hidden]="!loaded" [options]="options">
          <a
            *ngFor="let word of words; let i = index"
            id="{{ i }}"
            (click)="hideAlert($event)"
            style="position: relative"
          >
            <div
              id="{{ i }}"
              class="circle"
              style="text-align: left"
              [hidden]="word.readNotif"
            ></div>

            <p [hidden]="!word.readNotif" class="notifTextRead">
              {{ word.message }}
            </p>
            <p id="{{ i }}" [hidden]="word.readNotif" class="notifText">
              {{ word.message }}
            </p>
            <p id="{{ i }}" id="{{ i }}" class="dateNotif">
              {{ word.createdAt | timeago: live }}
            </p>
          </a>
        </ngx-simplebar>
        <div [hidden]="!empty" style="height: 80px; text-align: center">
          <h2 style="margin-top: 15px; color: var(--black)">
            No tienes notificaciones :(
          </h2>
        </div>
        <div [hidden]="loaded" class="loader"></div>
      </div>
    </div>
  </div>
</nav>
<div id="sideBar" class="sideBar">
  <a routerLink="/transacciones" (click)="sideBar()">Transacciones</a>
  <a routerLink="/user-settings" (click)="sideBar()"
    >Ajustes de Notificaciones</a
  >
  <a routerLink="/" (click)="signOut()">Sign Out</a>
</div>
<router-outlet></router-outlet>
