
nav {
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: darkblue;
  z-index: 9;
  position: relative;
}
.logo h4 {
  margin-top: 10px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  text-decoration: none;
  color: white;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}


/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: white;

  
  height: 7vh;
  width: 7vh;
 border-radius: 50%;
 position: relative; 
 
 top:-0.3vh;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
}
.buttonTemplate{
  background-color: rgb(2, 2, 194);

  color: white;

 
  height: 7vh;
  width: 7vh;
 
 position: relative; 
 border-radius: 50%;
 top:-0.3vh;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}
.buttonTemplate:hover{
  background-color: rgb(1, 1, 241);
  
}
.colorTemplate{
  background-color: rgb(1, 1, 241);
}
.colorTemplate2{
  background-color: rgb(2, 2, 194);
}

/* Dropdown button on hover & focus */

.dropbtn:focus {
  background-color: transparent;

  outline: none;
}
.dropbtn:hover {
  transform: scale(1.2);
}
.toggleHandle {
  transform: scale(1.2);
}


.dropbtn:hover ~ #idk #testing {
  transform: scale(1.2);
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color:rgb(23, 46, 97);
  width: 450px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 8vh;
  border-radius: 25px 25px 15px 15px;
  top: 0;
  box-shadow: 0px 0px 10px black;
}
.circle {
  width: 13px;
  height: 13px;
  border-radius: 250px;
  font-size: 50px;
  color: #fff;

  line-height: 500px;
  position: relative;
  top: 48%;
  background: rgb(0, 195, 255);
}
.badge {
  position: absolute;
  top: 2px;
  right: -0px;
  padding: 2px 7px;
  border-radius: 50%;
  background: rgb(230, 125, 27);
  transition: transform 0.2s;
  color: white;
  cursor: pointer;
}
.dateNotif {
  position: absolute;
  bottom: -1vh;
  color: white;
  margin-left: 11%;
  font-size: 13px;
  user-select: none;
}
.notifText {
  margin-left: 11%;
  color: white;
  user-select: none;
  font-size: 20px;
  position: absolute;
  font-family: 'Calibri';
  top: 1.3vh;
  font-weight:500;
}
.notifTextRead {
  margin-left: 11%;
  color: white;
  user-select: none;
  font-size: 15px;
  position: absolute;
  top: 1.3vh;
  font-weight:0;
}

.read{
  font-weight: 0;
}
.dropdown-content .lowerContainer {
  cursor: pointer;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  height: 80px;
  margin-left: 1%;
  margin-right: 3%;
  border-radius: 15px 15px 15px 15px;
  transition: all 0.3s ease-out;
}
.dropdown-content span {
  color: white;
 
  text-align: left;
  border-radius: 15px 15px 0px 0px;
  
  background-color: rgb(230, 125, 27);
  padding: 12px 16px;
  display: block;
  height: 9vh;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color:rgb(15, 71, 194);
  transition: 0s;
  
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

ngx-simplebar {
  width: 100%;
  height: 500px;

}
::ng-deep .simplebar-scrollbar::before {
  background-color: rgb(230, 125, 27) !important;
  opacity: 0.8 !important;
  
}
::ng-deep .simplebar-scrollbar:hover {
  opacity: 1 !important;
}
fa-icon:focus{
  outline: none;
 
}
.buttonTemplate:hover .icon,.buttonTemplate:hover .badge{
  transform: scale(1.2);
}
.loader {
    
  border: 7px solid #f3f3f3; /* Light grey */
  border-top: 7px solid #3498db; /* Blue */
  border-radius: 50%;
  margin-top: 5px;
  width: 38px;
  height: 38px;
  animation: spin 2s linear infinite;
  margin: auto;
}
.sideBar a {
  display: none;
}
@keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
}
.burger{
  display:none;
}

.icon{
  
  
  width:fit-content;
  transition: all 0.2s;
  top:10px;
	margin: 0 auto;
  position: relative;
  font-size: 3.5vh;
}
@media screen and (max-width: 700px) {
  
  .signOut{
    display: none;
  }
  .burger{
    display: inline-block;
    fill:white;
    position: absolute;
    left:0;
    margin-left: 2vh;
  }
  .icon{
    font-size: 3.5vh;
  }
  
  .dropdown{
    right: 0;
    position: absolute;
    margin-right: 5vh;
  }
  .burger:hover{
    cursor: pointer;
  }
  .logo{
  
    position: absolute;
    
  }
  
  .dropdown-content {
  
    position: absolute;
    height: 92vh;
    width: 100vw;
    box-shadow: none;
    top:7.5vh; 
    margin: auto;
    margin-left: calc(-100vw + 7vh + 5vh);
    left: 0;
    overflow-x: hidden;
    z-index: 1;
    border-radius: 0;/* The width is 100%, when the viewport is 800px or smaller */
  }
  .sideBar{
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: absolute; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color:rgb(23, 46, 97); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    text-align: center;
  }
  .sideBar a {
    padding: 20px 20px 20px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffff;
    display: block;
    transition: 0.3s;
  }
  .sideBar a:hover {
    background-color: #f1f1f1;
    color: blue;
  }
  .sideBarActive{
    
    width: 100%;
   
  }
  .dropdown-content span {
  display: none;}

  ngx-simplebar {
        
    overflow-x: hidden;
    max-width: 100vw;
    height: 92vh;
    
  }
}