
<nav>
  <div class="logo" >
    <h4>Reto BCP</h4>
  </div>
 <div [hidden] ="!loggedIn">
   <a mat-button routerLink="/transacciones" style="color: white" >Transacciones</a>

 </div>
  


  <div class="dropdown" (clickOutside)="onClickedOutside($event)"  >

    <div [hidden] ="!loggedIn">
      <button id="notifButton" (click)="myFunction()" class="dropbtn"  >
      <fa-icon [icon]="faBell" class="fa-lg"></fa-icon>
    </button>

    <span  id = "testing" class="badge" >{{ notificationCount }}</span>

    </div>
    

    <div id="myDropdown" class="dropdown-content">

      <span >Notifications
         <p routerLink="/user-settings" (click) = "onClickedOutside($event)" style="float: right; cursor: pointer;">Settings</p>
        </span>

      <div class="lowerContainer">
        <a
          *ngFor="let word of words; let i = index"
          id="{{ i }}"
          (click)="hideAlert($event)"
          style="position: relative;"
        >
          <div
            id="{{ 'alert' + i }}"
            class="circle"
            style="text-align: left"
            [hidden] = "word.readNotif"
          ></div>

          <p  id="{{ i }}" class="notifText">
            {{ word.message }}
          </p>

          <p  id="{{ i }}" class="dateNotif" >
            1 day ago
          </p>
        </a>
      </div>
    </div>
  </div>
</nav>

<router-outlet ></router-outlet>

