nav {
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  background-color: var(--primary);
  z-index: 9;
  position: relative;
  padding: 0 40px;
  box-shadow: 0 2px 4px 0 var(--off);
  user-select: none;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  text-decoration: none;
  color: white;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.dropbtn {
  background-color: transparent;
  color: white;

  height: 7vh;
  width: 7vh;
  border-radius: 50%;
  position: relative;

  top: -0.3vh;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
}
.buttonTemplate {
  background: var(--secondary);
  color: var(--white);
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}
.buttonTemplate:hover {
  height: 43px;
  width: 43px;
}

.bell {
  position: absolute;
  left: -10px;
  top: -2px;
  font-size: 22px;
}

.dropbtn:focus {
  background-color: transparent;

  outline: none;
}
.dropbtn:hover {
  transform: scale(1.2);
}
.toggleHandle {
  transform: scale(1.2);
}

.dropbtn:hover ~ #idk #testing {
  transform: scale(1.2);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--background);
  width: 450px;
  box-shadow: var(--default-box-shadow);
  z-index: 1;
  right: 0;
  top: 60px;
  border-radius: 25px 25px 15px 15px;
}
.circle {
  width: 13px;
  height: 13px;
  border-radius: 250px;
  font-size: 50px;
  line-height: 500px;
  position: relative;
  top: 48%;
  background: var(--secondary);
}
.badge {
  position: absolute;
  top: 2px;
  right: -0px;
  padding: 4px 7px 2px 7px;
  border-radius: 50%;
  background: var(--background);
  transition: transform 0.2s;
  color: var(--primary);
  cursor: pointer;
}
.dateNotif {
  position: absolute;
  bottom: -1vh;
  color: var(--off);
  margin-left: 11%;
  margin-bottom: 20px;
  font-size: 13px;
  user-select: none;
}
.notifText {
  margin-left: 11%;
  color: var(--black);
  user-select: none;
  font-size: 18px;
  position: absolute;
  top: 1.3vh;
  font-weight: 500;
}
.notifTextRead {
  margin-left: 11%;
  color: var(--off);
  user-select: none;
  font-size: 15px;
  position: absolute;
  top: 1.3vh;
  font-weight: 0;
}

.read {
  font-weight: 0;
}
.dropdown-content .lowerContainer {
  cursor: pointer;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin: 10px 5px;
  height: 100px;
  border-radius: 15px 15px 15px 15px;
  transition: all 0.3s ease-out;
}
.dropdown-content span {
  color: var(--white);
  border-radius: 15px 15px 0px 0px;
  background-color: var(--secondary);
  padding: 12px 16px;
  display: block;
  height: 50px;
}

.dropdown-content a:hover {
  background-color: var(--white);
  transition: 0s;
}

.show {
  display: block;
}

ngx-simplebar {
  width: 100%;
  height: 500px;
}
::ng-deep .simplebar-scrollbar::before {
  background-color: rgb(230, 125, 27) !important;
  opacity: 0.8 !important;
}
::ng-deep .simplebar-scrollbar:hover {
  opacity: 1 !important;
}
fa-icon:focus {
  outline: none;
}
.buttonTemplate:hover .icon,
.buttonTemplate:hover .badge {
  transform: scale(1.2);
}
.loader {
  border: 7px solid #f3f3f3;
  border-top: 7px solid #3498db;
  border-radius: 50%;
  margin-top: 5px;
  width: 38px;
  height: 38px;
  animation: spin 2s linear infinite;
  margin: auto;
}
.sideBar a {
  display: none;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.burger {
  display: none;
}

.icon {
  width: fit-content;
  transition: all 0.2s;
  top: 10px;
  margin: 0 auto;
  position: relative;
  font-size: 3.5vh;
}

.logo {
  color: var(--white);
  font-size: 20px;
}

.link > a {
  color: var(--white);
  text-decoration: none;
}

.link > a:hover {
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  nav {
    padding: 0 0 0 80px;
  }
  .link {
    display: none;
  }
  .burger {
    display: inline-block;
    fill: var(--white);
    position: absolute;
    left: 0;
    margin-left: 20px;
  }
  .icon {
    font-size: 3.5vh;
  }

  .dropdown {
    z-index: 5;
    right: 0;
    position: absolute;
    margin-right: 20px;
  }
  .burger:hover {
    cursor: pointer;
  }

  .logo {
    position: absolute;
  }

  .dropdown-content {
    position: fixed;
    box-shadow: none;
    margin: auto;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: 0;
    width: 100%;
  }

  .sideBar {
    width: 0;
    position: fixed;
    z-index: 10;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--primary);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    text-align: center;
  }
  .sideBar a {
    padding: 20px 20px 20px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--white);
    display: block;
    transition: 0.3s;
  }
  .sideBar a:hover {
    background-color: var(--primary);
    color: var(--secondary);
  }
  .sideBarActive {
    width: 100%;
  }
  .dropdown-content span {
    display: none;
  }

  ngx-simplebar {
    overflow-x: hidden;
    max-width: 100vw;
    height: 92vh;
  }
}
