nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #5d4954;
}
.logo h4 {
  margin-top: 10px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  text-decoration: none;
  color: white;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}
.dot {
  margin-left: -40%;
  margin-top: 10%;
  height: 25px;
  width: 25px;
  background-color: dodgerblue;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}

/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: transparent;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 450px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 8vh;

  top: 0;
}
.circle {
  width: 10px;
  height: 10px;
  border-radius: 250px;
  font-size: 50px;
  color: #fff;

  line-height: 500px;
  position: relative;
  top: 50%;
  background: dodgerblue;
}
.badge {
  position: absolute;
  top: 2px;
  right: -0px;
  padding: 2px 7px;
  border-radius: 50%;
  background: dodgerblue;
  color: white;
}
.dateNotif {
  position: relative;
  color: darkgrey;
  margin-left: 15%;
  top: 7px;
}
.notifText {
  margin-left: 15%;
  color: black;
  font-size: 20px;
}
.dropdown-content .lowerContainer {
  max-height: 500px;
  overflow-y: scroll;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

  height: 80px;
}
.dropdown-content span {
  color: white;
  text-align: left;
  top: 10px;
  font-size: 20px;
  background-color: rgb(70, 70, 70);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  height: 9vh;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

.notShow {
  display: none;
}
