<div *ngIf="!loaded" class="loader"></div>

<div *ngIf="loaded" class="container">
  <h1>User settings</h1>
  <div class="card">
    <div class="settings" *ngFor="let element of options; let i = index">
      {{ element.notifType.type }}
      <input type="checkbox" [(ngModel)]="element.Chosen" />
    </div>
    <div class="buttons">
      <button (click)="deleteAll()" class="delete-all">
        Delete all notifications
      </button>
      <button (click)="updatePreferences()">Save</button>
    </div>
  </div>
</div>
