.center{
    text-align: center;
    margin-top: 10%;
}
input[type="checkbox"]{
    position: relative;
    width:80px;
    height:40px;
    -webkit-appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    transition:.5s;
}
input[type="checkbox"]:hover{
cursor: pointer;
}
input[type="checkbox"]:checked{
background: #03a9f4;
}
input[type="checkbox"]:before{
    content:'';
    position:absolute;
    width:40px;
    height:40px;
    border-radius: 50%;
    top:0;
    left:0;
    background: #fff;
    transform:scale(1.1);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: 0.5s;

    }
    
    input:checked[type="checkbox"]:before{
    left:40px;}

.loader {
    
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
}
      button{
          margin-bottom: 2%;
display:inline-block;
padding:0.3em 1.2em;
margin:0 0.3em 0.3em 0;
border-radius:2em;
box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-weight:300;
color:#FFFFFF;
background-color:#4eb5f1;
text-align:center;
transition: all 0.2s;
border: none;

}
    
    button:hover{
    background-color:#4095c6;
    }
    
 
@keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
}