.container {
  color: var(--primary);
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 80px;
}

.title {
  text-align: center;
}

.card-login {
  background: var(--white);
  padding: 20px;
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: var(--default-box-shadow);
}

.id-credentials {
  margin: 40px 0;
}

.conect-button-container {
  position: relative;
}

.button3 {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0.3em 1.2em;
  border-radius: 2em;
  text-decoration: none;
  font-weight: 300;
  color: var(--white);
  background: var(--secondary);
  transition: all 0.2s;
  border: none;
}

.button3:hover {
  opacity: 0.8;
}
