<div class="container">
  <div class="card">
    <h1 class="title">Login</h1>
    <div class="id-credentials">
      <label for="currentID">My ID:</label>
      <br />
      <input
        type="text"
        [(ngModel)]="currentId"
        class="form-control"
        name="currentID"
      />
    </div>
    <div class="conect-button-container">
      <label for="connect"></label>
      <button (click)="connect(currentId)" class="button3" type="submit">
        Connect
      </button>
    </div>
  </div>
</div>
