.container {
  color: var(--primary);
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 80px;
}

.title {
  text-align: center;
}

.card {
  background: var(--white);
  padding: 20px;
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: var(--default-box-shadow);
}

.id-credentials {
  margin: 40px 0;
}

.conect-button-container {
  position: relative;
}

.button3 {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0.3em 1.2em;
  border-radius: 2em;
  text-decoration: none;
  font-weight: 300;
  color: var(--white);
  background: var(--secondary);
  transition: all 0.2s;
  border: none;
}

.button3:hover {
  opacity: 0.8;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: var(--secondary);
  color: var(--white);
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  font-size: 20px;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  border-radius: 15px;
  outline: none;
  box-shadow: 0px 0px 5px black;
}

#snackbar.show {
  visibility: visible;

  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
